*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    
}
/*=======nav header=======*/


header .nav-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 3vw;
    background-color: #f8f8f8;
    height: 40px;
}
.nav-right .icon , 
.nav-left .icon{
    justify-content: center;
    align-items: center;
}
header .nav-header .nav-right , 
header .nav-header .nav-left ul{
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    align-items: center;
}


header .nav-header .nav-right  p, 
header .nav-header .nav-left li{
    border-left: 1px solid rgba(0, 0, 0, 0.527);
    padding: 0 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.4px;
    color: #666666;
}
/*=======nav header 2=======*/

.nav-salla .nav-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 3vw;
    align-items: center;
}
.nav-salla .nav-bottom .options{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-salla .nav-bottom .options p{
    font-weight: 400;
    line-height: 16.5px;
    color: #a5a5a5;
}
.nav-salla .nav-bottom .options h6{
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
}

/*=======sibebar=======*/
input{
    accent-color: #62D0B6 ;
}
.side-bar{
    padding: 3vh 2vw;
}
.container-bar{
    border: 1px solid #66666648;
    display: flex;
    width: 300px;
    position: fixed;
    left: 0;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
        background-color: #62D0B6;
}
.side-bar ul{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 0 10%;
    height: 300px;
    justify-content: center;
}
.side-bar .right-bar{
    
    text-align: right;
    
}

.side-bar ul a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.59px;
    color: #62D0B6;
}
.side-bar ul li{
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}
.side-bar .red{
    display: block;
    position: absolute;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #F55157;
}
.side-bar .green{
    display: block;
    position: absolute;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #00AF6C;
}
.side-bar .black{
    display: block;
    position: absolute;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: black;
}
.side-bar .blue{
    display: block;
    position: absolute;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #62D0B6;
}
.side-bar .yellow{
    display: block;
    position: absolute;
    right: 40%;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FFAF44;
}
.container-bar h1{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.rest{
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -35%;
    height: 38px;
    border-radius: 10px;
}
.rest a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.9px;
    color: #333333;
}

/*=========== products========*/

.f-products{
    padding:5vh 3vw ;
    width: 914px;
    width: 100%;
    display: flex;
    justify-content: end;
}


.f-products h1 , 
.shop h1 , .offers h1{
font-weight: 500;
font-size: 1.8rem;
line-height: 35px;
color: #333333;
max-width: 341px;
}
.f-products p , 
.shop p , .offers p{
font-weight: 400;
line-height: 25px;
color: #666666;
max-width: 341px;
}




.all-products{
display: grid;
gap: 10px;
grid-template-columns: 33.3% 33.3% 33.3%  ;
grid-template-rows:  25% 25% 25% 25%;
position:relative;
right: 0;
}
.container{
display: flex;
flex-direction: column;
row-gap: 4px;
left: 100%;
max-width: 900px;
border: 1px solid #EEEEEE;
padding: 1vh 1vw;
}
.container:hover{
border: 1px solid #62D0B6;
}
.container .img-product{
width: 70%;
height: 70%;
}
.container .discount{
position: absolute;
top: 0;
padding: 1vh 1vw;
}

.container .price ,
.add-to-card{
display: flex;
gap: 10px;
}

.container .add-to-card{
width: 198px;
height: 56px;
border: 1px solid #EEEEEE;
border-radius: 10px;
justify-content: center;
align-items: center;
}
.container .card-buttom .icon{
display: flex;
height: 50px;
width: 50px;
border: 1px solid  #EEEEEE ;
justify-content: center;
align-items: center;
}
.container .card-buttom {
display: flex;
align-items: center;
justify-content: space-between;
}
.container h6{
font-weight: 400;
font-size: 14px;
line-height: 16.7px;
color:#62D0B6;
}
.container h3{
font-size: 16px;
font-weight: 400;
line-height: 19px;
color: #333333;
}
.container h4{
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #666666;
}
.container .price h5{
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #A5A5A5;
text-decoration: line-through;
}
.container .price h4{
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #F55157;
}
.container .add-to-card a{
text-decoration: none;
}
.container .add-to-card a{
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #333333;
}
.container a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .add-to-card:hover{
background-color: #62D0B6;
}
.container .add-to-card a:hover{
color: white;
}
.filter{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #66666648;
    display: none;
}
.filter img{
    border: 1px solid #66666648;
    cursor: pointer;
}
        /*========subscribe=====*/

        .subscribe{
            display: flex;
            justify-content: space-between;
            padding: 3vh 3vw;
            position: relative;
        }
        .subscribe .left{
            display: flex;
            gap: 20px;
            
            
        }
        .subscribe .left .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 50px;
            background-color: #6666661c;
        }
        .subscribe .left .icon img{
            width: 30%;
            height: 30%;
        }
        .subscribe .left h1{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #333333;
        }
        .subscribe .left p{
            font-weight: 400;
            font-size: 14px;
            line-height: 16.6px;
            color: #666666;
        }
        .subscribe .right{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .subscribe .right input{
            width: 352px;
            height: 40px;
            padding: 0 1vw;
            border: 1px solid #66666646;
        }
        .subscribe .right a{
            width: 150px;
            height: 40px;
            border: none;
            display: flex;
            color:white;
            background-color: #62D0B6;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    
        /*========footer=====*/
        footer{
            background-color: black;
            padding: 2vh 3vw;
            align-items: center;
            display: flex;
            justify-content: space-between;
            
        }
        footer h6{
            font-weight: 400;
            font-size: 14px;
            line-height: 16.9px;
            color: #FFFFFF;
        }
    
        footer img{
            cursor: pointer;
        }
/* ================================ Responsive Design ============================ */

@media screen and (max-width:1300px){
.all-products{
        display: flex;
        flex-direction: column;
    }
    
    
    .container{
        align-items: center;

    }
    
}


@media screen and (max-width:1000px){
    .all-products{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (max-width:786px) {
    
    html{
        font-size: 70%;
    }

    header .nav-header {
        justify-content: center;
    }
    
    header .nav-header .nav-left{
        display: none;
    }
    .nav-salla .nav-bottom img{
        height: 30px;
    }
    .container-bar{
        display: none;
    }
    .f-products {
        width: 100vw;
        justify-content: center;
    }
    
    .all-products{
        grid-template-columns: 1fr ;
        left: 0;  
        padding: 0 5px;
        
    }
    .container{
        width: 90%;
    }
    
    .filter{
        display:flex ;
    }
    /*==========subscribe=========*/
    .subscribe .icon{
        width: 100px;
        height: 80px;
}
.subscribe {
    flex-direction: column;
}
}