*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    
}

a{
    text-decoration: none;
}
/*=======nav header=======*/


header .nav-header{
    display: flex;
    justify-content: space-between;
    padding: 8px 3vw;
    background-color: #f8f8f8;
    height: 40px;
}
.nav-right .icon , 
.nav-left .icon{
    justify-content: center;
    align-items: center;
}
header .nav-header .nav-right , 
header .nav-header .nav-left ul{
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
    align-items: center;
}


header .nav-header .nav-right  p, 
header .nav-header .nav-left li{
    border-left: 1px solid rgba(0, 0, 0, 0.527);
    padding: 0 4px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.4px;
    color: #666666;
}
/*=======nav header 2=======*/

.nav-salla .nav-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 3vw;
    align-items: center;
}
.nav-salla .nav-bottom .options{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-salla .nav-bottom .options p{
    font-weight: 400;
    line-height: 16.5px;
    color: #a5a5a5;
}
.nav-salla .nav-bottom .options h6{
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
} 
    /* ================================ section ============================ */

    .info{
        padding: 3vh 3vw 6vh 3vw;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 1px solid #66666667;
    }
.top-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.info h1{
    font-weight: 500;
    font-size: 28px;
    line-height: 33.5px;
    color: #333333;
}
.top-section p{
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    color: #666666;
}
.all-info{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.phone , .email , .pass , .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all-info h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
input{
    border: none;
    padding: 2vh 1vw;
    background-color: #a79e9e25;
    border-radius: 10px;
    width: 40vw;
}
.info a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #62D0B6;
    border-radius: 16px;
    color: white;
}

        /*========subscribe=====*/

        .subscribe{
            display: flex;
            justify-content: space-between;
            padding: 3vh 3vw;
            position: relative;
        }
        .subscribe .left{
            display: flex;
            gap: 20px;
            
            
        }
        .subscribe .left .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 50px;
            background-color: #6666661c;
        }
        .subscribe .left .icon img{
            width: 30%;
            height: 30%;
        }
        .subscribe .left h1{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #333333;
        }
        .subscribe .left p{
            font-weight: 400;
            font-size: 14px;
            line-height: 16.6px;
            color: #666666;
        }
        .subscribe .right{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .subscribe .right input{
            width: 352px;
            height: 40px;
            padding: 0 1vw;
            border: 1px solid #66666646;
        }
        .subscribe .right a{
            width: 150px;
            height: 40px;
            border: none;
            display: flex;
            color:white;
            background-color: #62D0B6;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    
        /*========footer=====*/
        footer{
            background-color: black;
            padding: 2vh 3vw;
            align-items: center;
            display: flex;
            justify-content: space-between;
            
        }
        footer h6{
            font-weight: 400;
            font-size: 14px;
            line-height: 16.9px;
            color: #FFFFFF;
        }
    
        footer img{
            cursor: pointer;
        }
    /* ================================ Responsive Design ============================ */
@media screen and (max-width:786px) {
    
    
    html{
        font-size: 70%;
    }

    header .nav-header {
        justify-content: center;
    }
    
    header .nav-header .nav-left{
        display: none;
    }
    .nav-salla .nav-bottom img{
        height: 30px;
    }
        /*==========subscribe=========*/
        .subscribe .icon{
            width: 100px;
            height: 80px;
    }
    .subscribe {
        flex-direction: column;
    }
}